* {
background-color: rgb(253, 251, 251);
}

#cabecalho {
top: 0;
position: fixed;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: red;
line-height: 10px;
font-size: 1.2em;
}

nav {
  margin-top: 100px;
}

#licoes_aprendidas {
    margin-top: 75px;
    margin: 20px;
    padding: 20px;
    border: 20px;
}

#licoes_a_aprender {
  margin: 20px;
  padding: 20px;
  border: 20px;
}

.lado-esquerdo, .lado-direito {
  width: 400px;
  float: left;
}
